*, *:before , *:after {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;

    color: white;
}



header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    z-index: 1;

    min-height: 86px;
    width: 100%;

    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.31);
}

header .main-menu {
    display: flex;

    min-width: 420px;
    min-height: 86px;


    margin: 0;
    padding: 0;

    list-style: none;
}

header .main-menu > li {
    display: flex;
    justify-content: center;
    align-content: center;
}

header .main-menu > li > a {
    padding: 30px 25px;

    color: #626262;

    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;

    border-bottom: 1px solid transparent;
}

header .main-menu > li > a:hover {
    background-color: #cf1a2b;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.basket {
    display: flex;
    justify-content: space-around;
    align-items: center;

    min-width: 150px;

    font-size: 24px;
    font-weight: 400;
    text-decoration: none;

    color: #9d9d9d;
}

.basket:before {
    font-family: 'icomoon';
    content: "\f291";
    font-size: 26px;

    color: #bdbdbd;
}

.basket:after {
    font-family: 'icomoon';
    content: "\f0d7";
    font-size: 21px;

    color: #bdbdbd;
}

.basket p {
    color: #9d9d9d;

    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
}

.main-menu > li {
    position: relative;
}

.sub-menu {
    position: absolute;
    top: 86px;
    left: 0px;

    display: flex;

    display: none;
    
    background-color: #cf1a2b;
}

.main-menu > li:hover .sub-menu {
    display: flex;
}

.sub-menu ul:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.sub-menu .sub-menu-one li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); 
}

.main-menu .sub-menu-one {
    display: flex;
    flex-direction: column;

    max-width: 220px;

    margin: 0;
    padding: 0;

    list-style: none;

    background-color: #cf1a2b;
}

.sub-menu-one li:first-child {
    padding: 10px 35px;
}

.sub-menu-one li:first-child p {
    margin: 0;

    color: #fff;

    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}

.sub-menu-one li:first-child p span {
    color: rgba(255, 255, 255, 0.6);
}

.sub-menu-one li:nth-child(2) {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 50px 70px;
}

.sub-menu-two, .sub-menu-three {
    max-width: 200px;
    width: 199px;

    margin: 0;
    padding: 10px 40px;

    list-style: none;

    background-color: #cf1a2b;
}

.sub-menu-two li a, .sub-menu-three li a{
    color: rgba(255, 255, 255, 0.7);

    font-size: 16px;
    font-weight: 400;
    line-height: 34px;

    text-decoration: none;
}

.promo_nav {
    width: 100%;
}

.promo {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    min-height: 655px;
}

.promo h2 {
    text-align: center;
    
    color: #ffffff;

    margin: 70px 0 0 0;

    font-size: 116px;
    line-height: 70px;
    text-transform: uppercase;
}

.promo h2 span {
    font-size: 22px;
    letter-spacing: 30px;
    font-weight: 400;
}

.promo-1 {
    background: #fff url("../img/header_nav.png") no-repeat center; 
    background-size: cover;
}

.promo-2 {
    background: #fff url("../img/header_nav2.png") no-repeat center; 
    background-size: cover;
}

.promo-3 {
    background: #fff url("../img/header_nav3.png") no-repeat center; 
    background-size: cover;
}

.offers {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    min-height: 340px;

    background-color: #fff;
}

.offers-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: relative;
    
    overflow: hidden;

    width: 245px;
    height: 250px;

    margin: 0 10px;

    background-color: gray;
}
.offers-item p {
    margin: 0;
}

.offers-item:not(:last-child) p {
    margin-left: 30px;
}

.offers-item:first-child {
    
    background-color: #58dbd3;
}

.offers-item:first-child p:first-child {
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;

    height: 25px;

    margin-top: 10px;

    color: #fff;
}

.offers-item:first-child p:nth-child(2) {
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;

    color: #fff;
}

.offers-item:first-child p:nth-child(2) .from {
    font-size: 22px;
}

.offers-item:first-child p:nth-child(2) .dribb {
    font-size: 20px;
}

.offers-item:first-child p:nth-child(2) .ble {
    font-size: 18px;
}


.offers-item:first-child p:last-of-type {
    font-size: 49px;
    font-weight: 700;
    line-height: 33px;
    text-transform: uppercase;

    height: 45px;

    color: #12867f;
}

.offers-item:first-child img {
    position: absolute;
    top: 5px;
    left: 114px;
}

.offers-item:nth-child(2) {
    background-color: #e4ce9a;
}

.offers-item:nth-child(2) p:first-child {
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    text-transform: uppercase;

    margin-bottom: 35px;
}

.offers-item:nth-child(2) p:last-of-type {
    font-size: 50px;
    font-weight: 700;
    line-height: 33px;
    text-transform: uppercase;

    height: 45px;

    margin-top: 10px;

    color: #5e4c38;
}

.offers-item:nth-child(2) img {
    position: absolute;

    top: 66px;
    left: 102px;
}

.offers-item:nth-child(3) {
    background-color: #ffa7ce;
}

.offers-item:nth-child(3) p:first-child {
    font-size: 30px;
    font-weight: 700;
    line-height: 32.72px;
    text-transform: uppercase;
}

.offers-item:nth-child(3) p:nth-child(2) {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.offers-item:nth-child(3) p:last-of-type {
    font-size: 50px;
    font-weight: 700;
    line-height: 33px;
    text-transform: uppercase;

    height: 45px;

    margin-bottom: 5px;

    color: #414049;
}

.offers-item:nth-child(3) img {
    position: absolute;

    top: 91px;
    left: 110px;
}

.offers-item:last-child {
    background-color: #f2ca66;
}

.offers-item:last-child p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;

    min-height: 170px;
}

.offers-item:last-child p span {  
    font-size: 105px;
    line-height: 70px;

    width: 215px;
    height: 80px;

    transform: scale(1,-1);
}

.offers-item:last-child div {  
    display: flex;
    justify-content: center;
    align-items: center;

    width: 145px;
    min-width: 145px;
    min-height: 35px;

    background-color: #ffffff;
}

.offers-item:last-child div span {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    
    color: #f2ca66;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    overflow: hidden;
    
    width: 100%;
    height: 650px;
    min-height: 650px;

    background: #8f7ab9 url("../img/categories.png") no-repeat center;
    background-size: cover;
}

.categories h2 {
    font-size: 115px;
    font-weight: 400;
    text-transform: uppercase;

    margin: 0;
}

.categories-item-wrapper {
    display: flex;

    min-height: 200px;

    margin-bottom: 70px;
}

.categories-item {
    width: 200px;
    height: 200px;

    border-radius: 50%;

    margin: 0px -20px;
}

.categories-item:first-child, .categories-item:nth-child(2n+2) {
    background-color: rgba(88, 219, 211, 0.5);
}

.categories-item:nth-child(2n+3) {
    background-color: rgba(88, 219, 211, 0.8);
}

.categories-item:nth-child(2), .categories-item:nth-child(9) {
    position: relative;
    bottom: 30px;
}

.categories-item:nth-child(3), .categories-item:nth-child(6) {
    position: relative;
    top: 75px;
}

.categories-item:nth-child(4), .categories-item:nth-child(7) {
    position: relative;
    bottom: 20px;
}

.categories-item:nth-child(5) {
    position: relative;
    top: 10px;
}

.categories-item:nth-child(8) {
    position: relative;
    top: 70px;
}

.categories-item:nth-child(4n+2) {
    background-image: url("../img/categories_sprites.png");
    background-position: -473px -15px;
}

.categories-item:nth-child(4n+3) {
    background-image: url("../img/categories_sprites.png");
    background-position: -743px -33px;
}

.categories-item:nth-child(4) {
    background-image: url("../img/categories_sprites.png");
    background-position: -5px -35px;
}

.categories-item:nth-child(5) {
    background-image: url("../img/categories_sprites.png");
    background-position: -1005px -15px;
}

.categories-item:nth-child(8) {
    background-image: url("../img/categories_sprites.png");
    background-position: -231px -25px;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: relative;

    min-height: 920px;
    width: 100%;

    color: #1d1d1d;
    background-color: #fff;
}

.product-description {
    display: flex;
    justify-content: space-around;

    width: 100%;
}

.product-description-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 40%;
}

.product-description-text h2 {
    margin: 0 0 25px 0;

    font-size: 50px;
    font-weight: 700;
}

.product-description-text > p {
    margin: 0 0 30px 0;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price > p {
    margin: 0;

    min-width: 230px;

    font-size: 36px;
    font-weight: 400;
}

.price > p span {
    font-weight: 700;
} 

.price button {
    min-width: 215px;
    min-height: 50px;

    margin: 2px 0;
    padding: 0;

    background-color: #d62132;

    border: none;

    cursor: pointer;
}

.price button span {
    font-size: 28px;
    font-weight: 400;
    white-space: normal;

    margin-left: 10px;

    color: #fff;
}

.price button:before {
    font-family: 'icomoon';
    content: "\f291";
    font-size: 26px;

    color: #fff;
}

.product-brand-wrapper {
    position: absolute;
    z-index: 999 !important;
    top: -15px;
    left: 3%;
}

.product-brand-wrapper::before {
    content: "";
    display: block;

    height: 0px;

    position: absolute;
    top: 0;
    left: -14px;

    border-right: 16px solid #6c000a;
    border-top: 15px solid transparent;
    transform: skew(11deg);
}

.product-brand-wrapper::after {
    content: "";
    display: block;

    height: 0px;

    position: absolute;
    top: 0;
    right: -14px;
    
    border-left: 16px solid #6c000a;
    border-top: 15px solid transparent;
    transform: skew(-11deg);
}

.product-carousel {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
}

.product-carousel-item p {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-around;

    min-height: 105px;

    background-color: #1b2330;
}

footer .text-wrapper .logo {
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;

    margin: 16px 0;

    color: #626262;
}

footer .text-wrapper span {
    color: #06b5a9;
}

footer .text-wrapper p {
    color: #ffffff;
    opacity: 0.5;
}

.social-networks {
    display: flex;

    max-height: 50px;

    margin: 16px 0;

}

.social-networks a {
    padding: 10px 25px;
    margin: 0px 10px;
}

.social-networks-fb {
    background-image: url("../img/social-networks_sprites.png");
    background-position: -4px -13px;
}

.social-networks-tw {
    background-image: url("../img/social-networks_sprites.png");
    background-position: -143px -12px;
}

.social-networks-rss {
    background-image: url("../img/social-networks_sprites.png");
    background-position: -64px -13px; 
}


